@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-image: radial-gradient(circle at -221px -324px ,#5974FF  , white 40%);
    background-repeat: no-repeat;
    background-size: cover;
}


header, main{
    width: 83.33%;
    margin: auto;
}


.navBar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar__img{
    margin-right: auto;
    height: 75%;
}

.navBar__list{
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style: none;
    line-height: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container__img{
    width: 80%;
}

.contentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentBox__paragraph{
    font-weight: 300;
    margin: 60px;
}

.contentBox__button{
    width: 200px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background: #04146c;
    color: white;
}

.containerTestimonials{
    text-align: center;
    margin-top: 60px;
}

.containerTestimonials__paragraph{
    margin: 20px 0;
}

.containerCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.card{
    text-align: center;
}



.containerTestimonials__title, .contentBox__title{
    font-size: 3.5em;
    color: #15163d;
    font-weight: 700;
}


.contentBox__paragraph,.containerTestimonials__paragraph,.navBar__list,.contentBox__button{
    font-size: 1.5rem;
}



@media(width <= 768px){
    .contentBox__paragraph,.containerTestimonials__paragraph,.navBar__list,.contentBox__button{
        font-size: 1em;
    }

    header .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    header .container .container__img{
        width: 100%;
        object-fit: cover;
    }

    header .container .contentBox .contentBox__paragraph{
        margin: 30px 0;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}